<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Mintatanterv</title>
	<link rel="stylesheet" type="text/css" href="css/theme.css">
</head>
<body>
<h1>Mintatanterv</h1>
<div class="wrapper">
	<div class="eventhandler">
		<div class="terms">
			<bme-container v-for="term in 7"
				v-bind:term="term"
				v-bind:detailed-subject="detailedSubject"
				v-bind:detailed-hover="detailedHover"
				v-on:detailed="detailed($event)">
				{{term}}. félév
			</bme-container>
		</div>
		<div class="aside">
			<div class="subjects">
				<div class="subjects-menu">
					<!--<span>Rendezés:</span>-->
					<!--<button class="sort">Ábécé szerint</button>-->
					<!--<button class="sort">Kredit szerint</button>-->
					<!--<button class="sort">Félév szerint</button>-->
					<span>Szűrés:</span>
					<input v-model="filter">
				</div>
				<div class="remain">
					<bme-container
							v-bind:filter="filter"
							v-bind:colormode="colormode"
							v-bind:detailed-subject="detailedSubject"
							v-on:detailed="detailed($event)">

					</bme-container>
				</div>
			</div>
			<div class="information">
				<bme-details v-bind:subject="detailedSubject" v-bind:hover-subject="detailedHover">

				</bme-details>
			</div>

		</div>
	</div>
</div>
<script src="dist/build.js"></script>
</body>
</html>
