.wrapper{
	display:flex;
	width:100%;
	max-height:100vh;
}

.wrapper > .terms{
	flex-grow: 3;
	overflow: visible scroll;
	width:100%;
}

.wrapper > .aside{
	flex-grow: 7;
}

.aside > .subjects{
	display:flex;
}

.sort{
	margin: 0px 0px 5px 10px;
	padding: 3px;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 3px;
	background-color: rgb(200, 200, 200);
	font-size:15px;
	cursor:pointer;
}

.sort:hover{
	background-color: rgb(220, 220, 220);
}

.sort:active{
	transition: all 0.2s;
	background-color: rgb(255, 255, 255);
}